{% extends "base.html" %}

{% block title %}
  Add Recipe
{% endblock title %}

{% block main %}
  <div class="main-container">
    <h1>Add a recipe</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Create</button>
    </form>
  </div>

{% endblock main %}
