{% extends "base.html" %}

{% block title %}
  {{ recipe.title }}
{% endblock title %}

{% block main %}
  <div class="detail-grid">
    <div class="recipe-head">
      <h1 class="recipe-title">{{ recipe.title }}</h1>
      <p>4.3 stars</p>
      {% if recipe.author == user %}
        <p>
          <a href="{% url "edit_recipe" recipe.id %}">Edit this recipe</a>
        </p>
      {% endif %}
      {% comment %} <img class="detail-img" src="{{ recipe.picture }}" alt="{{ recipe.title }}" /> {% endcomment %}
      <p class="recipe-description">{{ recipe.description }}</p>
    </div>
    <img class="circle-img"
         src="{{ recipe.picture }}"
         alt="{{ recipe.title }}" />
  </div>

  <div class="main-container">
    <div class="ing-steps">
      <div class="ingredients">
        <h2>Ingredients</h2>
        <table class="zebra-table">
          <thead>
            <th>Amount</th>
            <th>Food item</th>
          </thead>
          <tbody>
            {% for ingredient in recipe.ingredients.all %}
              <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="steps">
        <h2>Steps</h2>
        <ol>
          {% for step in recipe.steps.all %}<li>{{ step.instruction }}</li>{% endfor %}
        </ol>
      </div>
    </div>
    {% if recipe.author %}
      <p class="list-date">
        Recipe created on {{ recipe.created_on|date:"N j, Y" }} by user {{ user.username }}
      </p>
    {% else %}
      <p class="list-date">
        Recipe created on {{ recipe.created_on|date:"N j, Y" }}
      </p>
    {% endif %}
  </div>

{% endblock main %}
