{% extends "base.html" %}

{% block title %}
  Edit Recipe
{% endblock title %}

{% block main %}

  <div class="main-container">
    <h1>Edit a recipe</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button>Edit</button>
    </form>
  </div>

{% endblock main %}
