{% extends "base.html" %}

{% block title %}
  Home
{% endblock title %}

{% block main %}

  <div class="main-container">
    <h1>Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    {% if not recipes %}<p>There are no recipes to display.</p>{% endif %}
    <div class="recipe-list">
      {% for recipe in recipes %}
        <div>
          <h3>
            <a href="{% url "show_recipe" recipe.id %}">{{ recipe.title }}</a>
          </h3>
          <img class="list-img" src="{{ recipe.picture }}" alt="{{ recipe.title }}" />
          <div>4.3 stars</div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock main %}
