{% extends "base.html" %}

{% block title %}
    Log In
{% endblock title %}

{% block main %}
    <div class="main-container">
        <h1>Sign up!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Log in</button>
        </form>
    </div>
{% endblock main %}
