@import url(https://fonts.googleapis.com/css2?family=Roboto&family=Nunito&family=Poetsen+One&family=Lilita+One&display=swap);

/* GLOBAL */

:root {
  --gap: 2em;
  --body-padding: 2em;
  --gold-metallic: #dbb748ff;
  --rosewood: #6f0a16ff;
  --seashell: #fff3f1ff;
  --coral-pink: #ffa292ff;
  --brunswick-green: #2d4739ff;
  --detail-bg: #e4c064;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.main-container {
  padding: var(--body-padding);
  margin-bottom: 2em;
}

a {
  text-decoration: none;
}

nav {
  border-bottom: 2px dotted var(--coral-pink);
  padding: 1em var(--body-padding);
  background-color: var(--seashell);
  text-transform: uppercase;
  letter-spacing: 0.85px;
  font-size: 0.85em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
}

.nav-logo {
  font-family: "Lilita One", "Poetsen One", "Roboto", sans-serif;
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.5em;
  margin-bottom: 2px;
  font-weight: normal;
}

a {
  color: black;
}

a:hover {
  color: #e2806e;
}

nav p {
  display: inline-block;
  margin: 0;
}

.nav-logged {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
}

.nav-name {
  color: var(--coral-pink);
  font-weight: 800;
}

footer {
  padding: 1em 2em;
  /* position: fixed;
    bottom: 0; */
  background-color: var(--coral-pink);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-size: 14px;
}

/* HOME | LIST PAGE */

.recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap);
}

.list-img {
  object-fit: cover;
  height: calc((100vw - var(--body-padding) * 2 - var(--gap) * 4) / 4);
  width: 100%;
}

.list-date {
  font-size: 0.85em;
  margin-top: 2em;
}

/* RECIPE DETAILS */

.detail-grid {
  background: var(--detail-bg);
  margin: 0 0 4em 0;
  padding: var(--body-padding);
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--gap);
  align-items: end; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recipe-title {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.recipe-description {
  margin-bottom: 0;
}

.circle-img {
  object-fit: cover;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  border: 0.75em solid white;
  margin-bottom: -150px;
}

table {
  border: 1px solid black;
  table-layout: fixed;
  border-collapse: collapse;
}

.zebra-table thead {
  background-color: var(--coral-pink);
  border-bottom: 1px solid black;
}

thead th:nth-child(1) {
  min-width: 5em;
}

.zebra-table tr:nth-child(even) {
  background-color: var(--seashell);
}

th,
td {
  padding: 10px;
}

th {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  font-size: 14px;
}

ol {
  padding-left: 20px;
}

li {
  line-height: 1.5em;
  margin-bottom: 1em;
}

.ing-steps {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  gap: var(--gap);
}

.detail-empty {
  background-color: var(--seashell);
  height: inherit;
  margin-top: 0.83em
}

@media (width < 1000px) {
  .recipe-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .list-img {
    height: calc(((100vw - var(--body-padding) * 2 - var(--gap)) / 2));
  }
  .ing-steps {
    grid-template-columns: 1fr;
  }
  .detail-img {
    height: 300px;
  }
}

@media (width < 800px) {
  .detail-grid {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 3em;
    align-items: center;
    text-align: center;
  }
  .circle-img {
    /* order: -1; */
    margin-bottom: -125px;
    margin-top: 3em;
    align-self: center;
    width: 250px;
    height: 250px;
  }
}

@media (width < 600px) {
  nav {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .nav-logged {
    flex-flow: column nowrap;
  }
  .main-container {
    margin-bottom: 0;
  }
  .nav-logo {
    margin-bottom: 0;
  }
}
