{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>
      {% block title %}
      {% endblock title %}
      | Scrumptious Recipes
    </title>
    <link href="{% static "css/recipes.css" %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <a class="nav-logo" href="{% url "list_recipes" %}">Scrumptious</a>
        <div class="nav-logged">
          {% if user.is_authenticated %}
            <p class="nav-name">Hello, {{ user.username }}</p>
            <a href="{% url "my_recipe_list" %}">My Recipes</a>
            <a href="{% url "create_recipe" %}">Add a recipe</a>
            <a href="{% url "user_logout" %}">Log Out</a>

          {% else %}
            <a href="{% url "signup" %}">Sign Up</a>
            <a href="{% url "user_login" %}">Log In</a>
          {% endif %}
        </div>
      </nav>
    </header>
    <main>
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      <p>Made with love by Scrumptious Recipes</p>
    </footer>
  </body>
</html>
